[bumpversion]
# Release procedure
# 1. <major|minor|patch> adds dev suffix
# 2. <release> removes dev suffix.
current_version = 0.6.1dev
commit = True
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(?P<release>dev)?
serialize = 
    {major}.{minor}.{patch}{release}
    {major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = placeholder
values =
    dev
    placeholder

[bumpversion:file:setup.py]
search = version='{current_version}'
replace = version='{new_version}'

[bumpversion:file:src/scrapy_redis/__init__.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'

[bumpversion:file:.cookiecutterrc]
search = version: {current_version}
replace = version: {new_version}
