[paths]
source =
    src

[run]
branch = true
source =
    scrapy_redis
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = 
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
